.q-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%/50%;
  object-fit: contain;
}
.info {
  width: 322px;
  min-height: 72px;
  background-color: bisque;
  border-radius: 5px/5px;
}
.q-info-wrapper {
  margin-left: 16px;
}
.q-info-wrapper .q-name {
  display: inline-block;
  vertical-align: top;
  min-height: 24px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
}
.q-info-wrapper .qq {
  display: inline-block;
  vertical-align: top;
  min-height: 16px;
  line-height: 16px;
}
.no-data {
  line-height: 40px;
  width: 100%;
  color: gray;
  text-align: center;
}